.container {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: maroon;
}

.menu-container {
  width: 50vw;
  color: white;
  background-color: maroon;
}

.logoutbtn {
  color: white;
  margin: 0.5rem;
}
